global 
   log         127.0.0.1 local2 
  
   chroot      /var/lib/haproxy 
   pidfile     /var/run/haproxy.pid 
   maxconn     4000 
   user        haproxy 
   group       haproxy 
   daemon 
  
   stats socket /var/lib/haproxy/stats 

defaults 
   mode                    http 
   log                     global 
   option                  httplog 
   option                  dontlognull 
   option http-server-close 
   option forwardfor       except 127.0.0.0/8 
   option                  redispatch 
   retries                 3 
   timeout http-request    10s 
   timeout queue           1m 
   timeout connect         10s 
   timeout client          1m 
   timeout server          1m 
   timeout http-keep-alive 10s 
   timeout check           10s 
   maxconn                 3000 

listen stats 
   bind :9000 
   mode http 
   stats enable 
   stats uri / 
   monitor-uri /healthz 

frontend openshift-api-server 
   bind *:6443 
   default_backend openshift-api-server 
   mode tcp 
   option tcplog 

#frontend nginx
#   bind *:8888
#   default_backend nginx
#   mode tcp
#   option tcplog

backend openshift-api-server 
   balance source 
   mode tcp 
   #server bootstrap 192.168.122.15:6443 check 
   server master-0 192.168.122.20:6443 check 
   server master-1 192.168.122.21:6443 check 
   server master-2 192.168.122.22:6443 check 

frontend machine-config-server 
#same as lb 
   bind *:22623 
   default_backend machine-config-server 
   mode tcp 
   option tcplog 

backend machine-config-server 
   balance source 
   mode tcp 
   #server bootstrap 192.168.122.15:22623 check 
   server master-0 192.168.122.20:22623 check 
   server master-1 192.168.122.21:22623 check 
   server master-2 192.168.122.22:22623 check 

#backend nginx
#   balance source
#   mode tcp
#   server openshift-deploy 192.168.122.40:8080 check

frontend ingress-http 
#same as lb 
   bind *:80 
   default_backend ingress-http 
   mode tcp 
   option tcplog 

backend ingress-http 
   balance source 
   mode tcp 
   server worker-0 192.168.122.30:80 check 
   server worker-1 192.168.122.31:80 check
   server master-0 192.168.122.20:80 check
   server master-1 192.168.122.21:80 check
   server master-2 192.168.122.22:80 check

frontend ingress-https 
#same as lb 
   bind *:443 
   default_backend ingress-https 
   mode tcp 
   option tcplog 

backend ingress-https 
   balance source 
   mode tcp 
   server worker-0 192.168.122.30:443 check 
   server worker-1 192.168.122.31:443 check
   server master-0 192.168.122.20:443 check
   server master-1 192.168.122.21:443 check
   server master-2 192.168.122.22:443 check

